body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif;
}

p {
  line-height: 1.6;
}

/* App container */
div {
  text-align: center;
  padding: 20px;
}

/* Заголовок */
h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}
